



.navbar img {
    margin-left: 10px;
}

body {

    background-color: #a9b5b8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(79, 77, 77);
    margin: 0;
    padding: 0;
}

.abtme h3,
h4 {
    margin-left: 10px;
}

.btn button {
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    padding: 6px 8px;
    margin-left: 10px;
}

.skills img {

    margin-left: 5px;
    filter: invert(100%);
}

.skills h1 {
    margin-left: 4px;
}

.explore-btn button {
    border: 1px solid gray;
    padding: 4px 10px;
    color: white;
    border-radius: 10px;
    margin-left: 29px;
    cursor: pointer;
    background-color: gray;
}

.contact {
    background-color: gray;

}

.project-text h1,
b {
    margin-left: 10px;
}

.project-text p {
    margin-left: 20px;
}

.projects {
    margin-left: 10px;
}

.container {
    background-color: rgb(224, 224, 224);

    width: 450px;
    color: black;
    margin-left: 10px;
    border-radius: 15px;
    display: grid;
    padding: 5px 0px;

}

.container input,
textarea {
    margin: 3px 3px;
    border-radius: 5px;
    padding: 1px 4px;
    width: 95%;
    border: 1px solid white;
    background-color: rgb(255, 255, 255);
}

.container button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    background-color: gray;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 4px 30px;
    margin-left: 150px;

}

.instagram {
    margin-left: 10px;
}

.last {
    color: #575757;
    margin-left: 10px;
    line-height: 20px;
}

.instagram img {
    filter: invert(100%);
}

.Contact-info {
    color: #575757;
    margin-left: 10px;
}